<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.homeSubtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
<meta name="keywords" content="{{ .Site.Params.keywords }}{{ if .Params.tags }}{{ range .Params.tags }}, {{ . }}{{ end }}{{ end }}" />
<meta name="robots" content="noodp" />
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
<link rel="canonical" href="{{ .Permalink }}" />

{{ block "title" . }}
<title>
{{ if .IsHome }}
    {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }} {{ end }}
{{ else }}
    {{ .Title }} :: {{ $.Site.Title }} {{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}
{{ end }}
</title>
{{ end }}

<link rel="preload" href="/fonts/Inter-UI-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/Inter-UI-Regular.woff2" as="font" type="font/woff2" crossorigin>

<!-- CSS -->
{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Icons -->
{{- partial "favicons.html" . }}

<!-- schema.org/Person support -->
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Aleksey Motovilov",
  "url": "https://lehamotovilov.com/",
  "image": "https://lehamotovilov.com/img/logo.png",
  "sameAs": [
    "https://www.facebook.com/LehaMotovilov/",
    "https://www.instagram.com/lehamotovilov/",
    "https://www.linkedin.com/in/aleksey-motovilov/",
    "https://github.com/LehaMotovilov"
  ],
  "jobTitle": "Software Engineer"
}
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-75HPXX9NN5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-75HPXX9NN5');
</script>